*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    
}

header{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 25px;
    
}

.contenedor3 {
   
    
    height: 20vh;
   /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;*/

    background-image: url(../img/logo/linea\ auto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 5px;

}

.logo {
    height: 20px;
}

@media (min-width: 900px) {
    
 
    .titulo {
        background-image: url(../img/banderas/banda.png);
        background-size: 100px 110px;
        background-repeat: no-repeat;
        background-position: center;
    
    
    
    }
}


.contenedor1 {
    background-color: rgba(25, 0, 255, 0.425);
    /*display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;*/
    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 5px;
    margin: 2px 0px 2px 0px;
}

.caja1:hover{
    color: rgb(60, 255, 0);

}
.caja1:visited{
    color: blueviolet;
}
.contenedor2 {
    
    background-color: rgba(255, 255, 255, 0.568);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 5px;
    margin: 2px 0px 2px 0px;

    /*flex-wrap: wrap;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: flex-start;*/
    
    /*width: 75vw;
    position: sticky;
    top: 20px;*/
}
.caja2:hover{
    color: rgb(60, 255, 0);

}
.caja2:visited{
    color: blueviolet;
}
a{
    text-decoration: none;
    
}


.caja2:hover{
    color: rgb(94, 255, 0);
}


body{
    background-image: url(../img/logo/fondodetarjeta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 900px) {
   
    .presentación{
        background-image: url(../img/fondo/Formulauno.png);
        background-size: cover;
    }
  
}

.cuerpo {
    height: max-content;
    background-color: rgba(240, 248, 255, 0.719);
    background-repeat: no-repeat;
    background-size: 100%;
  
}



.principal {
    background-color: rgba(255, 255, 255, 0.726);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 25px;
    width: auto;
    height: max-content;
    
    text-align: center;

}

.tecnicos{
    height: auto;
    /*display: flex;
    */
}


.operiario {
    height: 100px;
    display: flex;
    padding-left: 25%;
    
}
.foto{
    height: 100px;
}


.referencia {
    height: 100px;
    width: 100px;


}

.publicidad {

    padding: 1%;
    border: 0px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 25px;
    /*width: 25%;
    text-align: center;
    margin-left: auto;
    align-items: stretch;
    height: auto;*/



}

.publicidad__contenido {
    padding: 1%;

}

footer {
    background-image: url(../img/fondo/red-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 1;
    width: 100%;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    
    /*display: flex;
     align-items: stretch;*/
    
   /*padding: 5px 5% 5px 5% */;
   
}

.instrucciones {
    width: max-content;
    /*margin: 0% 1% 0% 1%;*/
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;

}

.marca {
    height: max-content;
    height: 10 0%;
    margin: 0% 1% 0% 1%;
    border: 2px solid rgba(0, 0, 0, 0.603);
    border-radius: 25px;
display: flex;
    justify-content: space-between;
}

.pub {
    width: 70px;
}

.mapa {
    
    margin: 0% 1% 0% 1%;
    border: 2px solid rgba(0, 0, 0, 0.658);
    border-radius: 25px;

    display: grid;
    justify-content: space-evenly;
    align-content: center ;
}

.map {
    max-height: 50%;
    max-width: 50%;

}